@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  background-color: #1a1c1b;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}

header {
  background-color: #59ff00;
  margin: 0;
  font-weight: bold;
}

main {
  margin: 0 auto;
  background-color: #2a2e2e;
  border: 2px solid #59ff00;
}

h1 {
  margin: 2em 0 0 0;
}

label {
  line-height: 2em;
  font-weight: bolder;
  font-size: larger;
}

input {
  background-color: #2a2e2e;
  border: 1px solid #95ff77;
}

button {
  margin: 0.5em 0 0.5em 0;
  border-radius: 10px;
  background-color: #95ff77;
  cursor: pointer;
}

main div {
  width: 65%;
  margin: 0 auto;
}

li {
  text-align: start;
}

.completato {
  text-decoration: line-through;
}

.divPerTask li {
  display: inline-block;
  width: 85%;
  border: 1px solid #59ff00;
  padding: 2px;
}

.pPerIcona {
  display: inline-block;
  width: 10%;
  text-align: end;
  cursor: pointer;
}
